/*Practicing using a universal selector */


/* When referring to a class as a selector, we use .class-name */
.alert-text {
    color: red;
}

.top-alert {
    font-weight: bold;
}

#password-tip {
    color : gray;
}